---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Unify Social | Make Settling in Canada Simpler, Clearer, and Connected"
  description="Get in touch with the Unify team"
>
  <main></main>
</BaseLayout>
