---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/sections/Hero.astro';
import Partners from '../components/sections/Partners.astro';
import Journey from '../components/sections/Journey.astro';
import FAQ from '../components/sections/FAQ.astro';
---

<BaseLayout
  title="Unify Social | Make Settling in Canada Simpler, Clearer, and Connected"
  bodyBg="#FFFFFF"
>
  <main>
    <Hero />
    <Partners />
    <Journey />
    <FAQ />
  </main>
</BaseLayout>
