---
export const prerender = true;
import BaseLayout from "../layouts/BaseLayout.astro";
import PartnersHero from "../components/sections/PartnersHero.astro";
import PartnerTestimonials from "../components/sections/PartnerTestimonials.astro";
import PartnersGrid from "../components/sections/PartnersGrid.astro";
import BecomePartner from "../components/sections/BecomePartner.astro";
import CTABand from "../components/sections/CTABand.astro";
---

<BaseLayout
  title="Partners | Unify Social"
  description="Unify Social partners with schools, libraries, community centres, and nonprofits across BC to support newcomers settling in Canada."
  bodyBg="#171616"
>
  <main>
    <PartnersHero />
    <PartnerTestimonials />
    <PartnersGrid />
    <BecomePartner />
    <CTABand />
  </main>
</BaseLayout>
